html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fc9652;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-title{
    width: 300px;
    text-align: center;
    background-color: rgb(253, 161, 41);
    border: 10px groove #ffd483;
}

ul.recipes  {
    width: 300px;
    height: 700px;
    border: 10px ridge #ffb482;
    background-color: rgb(255, 196, 196);
    padding: 3px;
    list-style: none;
}

.recipes .recipe {
    margin-bottom: 3px ;
}

.recipes .recipe button {
    border: 3px inset rgba(200, 100, 100, 200);
    font-size: 20px;
    text-align: justify;
    width: 274px;
    padding: 5px 10px;
    background-color: #ffc7a2;
}

.recipes .recipe button:hover {
    background-color: #fa9f62;
}